Repository michele-lorenzoni/personal_searxng: changes, and which pre-commit hooks are due for each by the changed paths.
All: sort-txt-file, sort-json-files

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: sort-txt-file
        name: Sort text file alphabetically
        entry: bash -c 'sort -o blocked_domains.txt blocked_domains.txt'
        language: system
        files: blocked_domains\.txt$
      
      - id: sort-json-files
        name: Sort JSON files alphabetically
        entry: npx sort-package-json
        language: system
        files: \.json$

update: update sort_json.py file
  scripts/sort_json.py
Due: none

update: update favorite_urls.json file
  searx/templates/static/custom/favorite_urls.json
Due: sort-json-files

update: update preferences.html file
  searx/templates/simple/preferences.html
Due: none

update: update footer.html file
  searx/templates/simple/preferences/footer.html
Due: none

update: update base_preferences.html file
  searx/templates/simple/base_preferences.html
  searx/templates/static/output.css
Due: none

update: update preferences.html file
  searx/templates/simple/preferences.html
  searx/templates/static/output.css
Due: none

update: update cookies.html file
  searx/templates/simple/preferences/cookies.html
Due: none

update: update no_cookies.html file
  searx/templates/simple/messages/no_cookies.html
Due: none

update: update Dockerfile file
  Dockerfile
Due: none

chore: create unswerers.html file
  searx/templates/simple/preferences/answerers.html
Due: none

update: update answerers.html file
  searx/templates/simple/preferences/answerers.html
Due: none

update: update footer.html file
  searx/templates/simple/preferences/answerers.html
Due: none

update: update unwanted_urls.json file
  searx/templates/static/custom/unwanted_urls.json
Due: sort-json-files

update: update blocked_domains.txt file
  blocked_domains.txt
Due: sort-txt-file
